@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes circle-in-hesitate {
    0% {
        clip-path: circle(0%);
    }
    40% {
        clip-path: circle(40%);
    }
    100% {
        clip-path: circle(125%);
    }
}

[transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-hesitate both;
}

@keyframes diamond-in-center {
    from {
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }
    to {
        clip-path: polygon(-50% 50%, 50% -50%, 150% 50%, 50% 150%);
    }
}

[transition-style="in:diamond:center"] {
    animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) diamond-in-center both;
}

@keyframes wipe-in-top-right {
    from {
        clip-path: polygon(-50% 50%, 50% 150%, 50% 150%, -50% 50%);
    }
    to {
        clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
    }
}

[transition-style="in:wipe:top-right"] {
    animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-top-right both;
}

@keyframes circle-out-top-right {
    from {
        clip-path: circle(125%);
    }
    to {
        clip-path: circle(0% at top right);
    }
}

[transition-style="out:circle:top-right"] {
    animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-out-top-right both;
    --transition__delay: 2.3s;
}

.css-container {
    scroll-snap-type: y mandatory;
}
.div-effect {
    scroll-snap-align: start;
}

@layer components {
    body {
        @apply bg-slate-50;
    }
    .btn {
        @apply cursor-pointer transition hover:scale-[1.1];
    }
}

.btn-container:has(.btn:hover) .btn:not(:hover) {
    scale: 1;
    opacity: 0.8;
    filter: blur(5px);
}
.zoom img {
    transition: scale 400ms;
}
.zoom:hover img {
    scale: 1.2;
}
@keyframes scroll {
    to {
        translate: calc(
            -7 * 15rem
        ); /* aumentar el rem para mas velocidad o disminuir para mermar */
    }
}
.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15rem;
    justify-items: stretch;
    animation: scroll 10s linear infinite;
}
